<%- include("./includes/head") %>
    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title">Add a new post here!</h1>
      <form action="/admin" method="post">
        <div>
          <label for="title">Enter Title</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div>
          <label for="photo">Photo Url</label>
          <input type="text" name="photo" id="photo" required />
        </div>
        <div>
          <label for="description">Enter Description</label>
          <textarea name="description" id="description" required></textarea>
        </div>
        <button>Add Post</button>
      </form>
    </section>
<% include("./includes/foot") %>
