<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="homepage">
      <h1 class="title">I am home page</h1>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quasi
        dolorum, distinctio sapiente consequuntur perferendis cum tempora veniam
        assumenda quis neque mollitia fuga blanditiis consectetur, aperiam sunt
        est corrupti atque.
      </p>
      <a href="/admin/create-post">Add new post</a>
    </div>
  </body>
</html>
