<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="title">I am post page</h1>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae atque,
      laboriosam quod accusantium excepturi consequatur porro tempore. Maxime
      provident ipsa nemo assumenda nisi. Facilis possimus delectus iste dolorum
      autem nostrum.
    </p>
  </body>
</html>
